<div class="list-group mb-4">
  <%= link_to group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(group_path(@group))}" do %>
    🏠 Обзор группы
  <% end %>

  <%= link_to group_ancestors_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('ancestors')}" do %>
    👥 Персоны
  <% end %>

  <%= link_to tree_group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(tree_group_path(@group))}" do %>
    🌳 Древо
  <% end %>

  <%= link_to group_locations_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('locations')}" do %>
    🌍 Места
  <% end %>

  <%= link_to group_events_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('events')}" do %>
    📅 События
  <% end %>

  <%= link_to group_stories_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('stories')}" do %>
    📖 Дневник воспоминаний
  <% end %>

  <%= link_to timeline_group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(timeline_group_path(@group))}" do %>
    ⏳ Ось времени
  <% end %>

  <%= link_to members_group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(members_group_path(@group))}" do %>
    👥 Участники и Приглашения
  <% end %>

  <%= link_to edit_group_path(@group), class: "list-group-item list-group-item-action" do %>
    ⚙️ Настройки
  <% end %>
</div>

<div class="d-grid">
  <%= link_to "Назад к профилю", user_profile_path, class: "btn btn-outline-secondary btn-sm" %>
</div>