<div class="list-group mb-4">
  <%= link_to group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(group_path(@group))}" do %>
    Przegląd grupy
  <% end %>

  <%= link_to group_ancestors_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('ancestors')}" do %>
    Osoby
  <% end %>

  <%= link_to tree_group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(tree_group_path(@group))}" do %>
    Drzewo
  <% end %>

  <%= link_to group_locations_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('locations')}" do %>
    Miejsca
  <% end %>

  <%= link_to group_events_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('events')}" do %>
    Wydarzenia
  <% end %>

  <%= link_to group_stories_path(@group), class: "list-group-item list-group-item-action #{'active' if request.path.include?('stories')}" do %>
    Dziennik wspomnień
  <% end %>

  <%= link_to timeline_group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(timeline_group_path(@group))}" do %>
    Oś czasu
  <% end %>

  <%= link_to members_group_path(@group), class: "list-group-item list-group-item-action #{'active' if current_page?(members_group_path(@group))}" do %>
    Uczestnicy i zaproszenia
  <% end %>

  <%= link_to edit_group_path(@group), class: "list-group-item list-group-item-action" do %>
    Ustawienia
  <% end %>
</div>

<div class="d-grid">
  <%= link_to "Powrót do profilu", user_profile_path, class: "btn btn-outline-secondary btn-sm" %>
</div>