<h1><%= @group.name %></h1>

<p><strong>Описание:</strong></p>
<p><%= @group.description %></p>

<p><strong>Тип:</strong> <%= @group.privacy %></p>

<p><strong>Создатель:</strong> <%= @group.owner.email %></p>

<% if @group.owner == current_user %>
  <%= link_to 'Редактировать', edit_group_path(@group) %> |
  <%= button_to 'Удалить', group_path(@group), method: :delete, data: { confirm: 'Вы уверены?' } %>
<% end %>

<h3>Участники</h3>

<% @group.members.each do |member| %>
  <p><%= member.email %></p>
<% end %>

<% if @group.owner == current_user %>
  <h3>Пригласить участника</h3>

  <%= form_with url: invite_group_path(@group), method: :post do %>
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email %>
    <%= submit_tag "Отправить приглашение" %>
  <% end %>
<% end %>

<%= link_to "Назад к профилю", user_profile_path %>