<h2>Edytowanie profilu</h2>

<%= form_for @user_profile, url: user_profile_path, method: :patch, data: { turbo: false } do |f| %>

  <% if @user_profile.errors.any? %>
    <div style="color: red; background-color: #fee; padding: 15px; border: 1px solid red; margin-bottom: 20px; border-radius: 5px;">
      <h4>Nie udało się zapisać profilu:</h4>
      <ul>
        <% @user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :first_name, "Imię" %><br>
    <%= f.text_field :first_name %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :last_name, "Nazwisko" %><br>
    <%= f.text_field :last_name %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :middle_name, "Imię ojca" %><br>
    <%= f.text_field :middle_name %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :maiden_name, "Nazwisko panieńskie" %><br>
    <%= f.text_field :maiden_name %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :birth_date, "Data urodzenia" %><br>
    <%= f.date_select :birth_date,
                      start_year: 1700,
                      end_year: Date.today.year,
                      order: [:day, :month, :year] %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :place_of_birth, "Miejsce urodzenia" %><br>
    <%= f.text_field :place_of_birth %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :gender, "Płeć" %><br>
    <%= f.select :gender, ["mężczyzna", "kobieta"], include_blank: "Nie wskazane" %>
  </div>

  <div style="margin-top: 10px;">
    <%= f.label :description, "Opis" %><br>
    <%= f.text_area :description, rows: 4 %>
  </div>

  <div style="margin-top: 20px;">
    <%= f.submit "Zapisz zmiany" %>
  </div>

<% end %>