<div id="<%= dom_id archive %>">
  <p>
    <strong>Title:</strong>
    <%= archive.title %>
  </p>

  <p>
    <strong>Opis:</strong>
    <%= archive.description %>
  </p>

  <p>
    <strong>Gubernia:</strong>
    <%= archive.gubernia %>
  </p>

  <p>
    <strong>Rok:</strong>
    <%= archive.year %>
  </p>

</div>
