<div id="<%= dom_id archive %>">
  <p>
    <strong>Title:</strong>
    <%= archive.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= archive.description %>
  </p>

  <p>
    <strong>Gubernia:</strong>
    <%= archive.gubernia %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= archive.year %>
  </p>

</div>
