<p style="color: green"><%= notice %></p>

<%= render @archive %>

<div class="mt-4">
  <p>
    <strong>Załączony dokument:</strong>
    <% if @archive.document.attached? %>
      <%= link_to "Pobierz plik", url_for(@archive.document), target: "_blank", class: "btn btn-sm btn-outline-success" %>
    <% else %>
      <span class="text-muted">Plik nie został załączony</span>
    <% end %>
  </p>
</div>

<div>
  <%= link_to "Edytuj ten archiw", edit_archive_path(@archive) %> |
  <%= link_to "Wróć do archiwum", archives_path %>

  <%= button_to "Usuń ten archiv", @archive, method: :delete %>
</div>
