<%= form_with(model: [@group, location], local: true) do |form| %>

  <% if location.errors.any? %>
    <div class="alert alert-danger">
      <h4>Błąd zapisywania:</h4>
      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nazwa miejsca", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Na przykład: Dom rodowy we wsi, cerkiew..." %>
  </div>

  <div class="mb-3">
    <%= form.label :address, "Adres", class: "form-label" %>
    <%= form.text_field :address, class: "form-control", placeholder: "m. Rzeszów, ul. Krajobrazowa, d. 14" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Opis / Historia miejsca", class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit "Zachowaj miejsce", class: "btn btn-primary" %>
  </div>
<% end %>